/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 1em;
}

/* Header */
.header {
  margin-bottom: 4.5em;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 2.5714285714285716em;
  font-weight: bold;
  line-height: 1.3333333333333333;
  margin: 0.5em 0 1em 0;
}

.header__who {
  line-height: 1.5;
}

.header__who-title {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  margin-bottom: 0.5555555555555556em;
  text-transform: uppercase;
}

/* Content */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card */
.card {
  width: 48%;
}

.card__profile {
  position: relative;
}

.card__profile-image {
  width: 90%;
}

.card__profile-job {
  transform: rotate(90deg);
  transform-origin: 0% 15%;
  text-transform: uppercase;
  font-size: 0.7142857142857143em;
  right: -98%;
  position: absolute;
  top: -1%;
  width: 100%;
}

.card__name {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0.7142857142857143em;
}

/* Footer */
.footer {
  margin: 4em 0 2em 0;
  text-align: center;
}
