@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'PT Serif', serif; */
}

ul {
  padding-left: 24px;
}

li {
  margin-bottom: 8px;
}

.welcome {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-text {
  margin-top: 30vh;
  font-weight: 500;
}

.welcome-text p {
  font-size: 1rem;
  font-weight: 400;
}

.welcome-text h1 {
  font-size: 1.5rem;
}

.welcome-text a {
  color: #f7542e;
}
